.anounses-list {
  padding: 40px 0;

  &__footer {
    color: $grayColor;
    padding-top: 20px;
    font-size: 16px;
    text-align: center;

    p {
      margin: 0 0 10px;
    }
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    border-radius: 3px;
    width: 30px;
    height: 30px;
    background-color: $baseColor;
    color: white;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    opacity: 0.25;

    &:hover {
      opacity: .8;
    }


    .fa {
      display: block;
      margin: 0 auto;
    }
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: -15px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: -15px;
  }

  @include mobile {
    .owl-carousel .owl-nav button.owl-prev {
      left: -5px;
    }

    .owl-carousel .owl-nav button.owl-next {
      right: -5px;
    }
  }
}

.company-about {
  background: url(../img/road-truck.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding: 100px 0;

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @include mobile {
    padding: 40px 0;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.company-whyus {
  padding: 40px 0 0;

  .why-us__item {
    text-align: center;
    padding: 0 20px 20px;
    user-select: none;

    svg {
      display: block;
      width: 60px;
      height: 60px;
      margin: 0 auto 20px;
    }

    h4 {
      font-weight: 700;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }
}

.brands .brand {
  width: 80px;
  margin: 0 auto;
  padding: 10px 0;
  filter: grayscale(1);
  user-select: none;
  transition: .15s ease-in-out;

  &:hover {
    filter: grayscale(0);
  }
}


.service-add {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid white;
  box-shadow: 0 0 0 1px $lightColor;
  user-select: none;
  width: 100%;
  min-height: 80px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: $baseColor;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;

  &:hover {
    box-shadow: 0 0 0 1px $grayColor;
    color: white;
  }

  &__img {
    display: block;
    flex: none;
    width: 120px;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
  }

  &__text {
    padding: 10px;
    flex: 1;

    span,
    strong {
      display: block;
    }

    strong {
      font-size: 24px;
    }
  }

  &.repair {
    background: url(../img/repair_add_bg.png) no-repeat right center;
    background-size: cover;
  }

  &.cargo {
    background: url(../img/cargo_add_bg.png) no-repeat right center;
    background-size: cover;
  }

  &.stocks {
    background: url(../img/stocks_add_bg.png) no-repeat right center;
    background-size: cover;

    .service-add__text strong {
      color: darken($accentColor, 10%);
    }
  }





  @include mobile {
    font-size: 14px;

    &__img {
      display: none;
    }
  }
}


.slider-module {
  box-shadow: 0 3px 7px rgba($baseColor, .15);

  .owl-nav {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;

    button.owl-next,
    button.owl-prev {
      background-color: rgba(white, .5);
      width: 40px;
      color: $baseColor;
      font-size: 16px;
      line-height: 20px;
      margin-right: 1px;
      border-radius: 3px;

      &:hover {
        background-color: white;
      }
    }




  }


}
