.cabinet-header {
  text-align: left;
  text-transform: none;
  margin-bottom: 20px;
}

.page-nav {
  border-bottom: 1px solid $lightColor;
  font-size: 16px;
  margin-bottom: 20px;

  .tab-menu {
    display: flex;

    li {
      display: block;
      margin-right: 1px;
      margin-bottom: -1px;

      &:last-child {
        margin-right: 0;
      }


      a {
        display: block;
        padding: 5px 10px;
        line-height: 20px;
        border: 1px solid $lightColor;
        color: $lightColor;
        background-color: $primaryColor;

        &:hover {
          color: white;
          background-color: $baseColor;
        }

        &.current {
          background-color: white;
          color: $primaryColor;
          cursor: default;
        }
      }

      &.active a {
        background-color: white;
        color: $primaryColor;
        cursor: default;
      }
    }
  }
}

.cabinet--bottom {
  padding-top: 40px;
}
