.catalog-list {

  &__item {
    background-color: white;
    border: 1px solid $lightColor;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    z-index: 0;

    box-shadow: 0 0 3px rgba($baseColor, .05);

    .item-stats {
      position: absolute;
      top: 2px;
      left: 2px;
      display: flex;
      z-index: 2;

      svg {
        display: block;
        width: 15px;
        height: 40px;
        margin-right: 1px;
      }
    }

    .item-image {
      position: relative;
      z-index: 1;
      text-align: center;
      user-select: none;

      &__link {
        display: block;

        &:hover {
          opacity: 0.75;
        }
      }

      .item-count {
        display: block;
        width: 140px;
        padding: 0 5px;
        line-height: 15px;
        font-size: 10px;
        font-weight: 700;
        color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -70px;
        box-sizing: border-box;

        &.plenty {
          background-color: $successColor;
        }

        &.stocks {
          background-color: $warningColor;
        }

        &.not-available {
          background-color: $grayColor;
        }
      }

      img {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        object-fit: cover;
      }
    }

    .item-body {
      border-top: 1px solid $lightColor;
      border-bottom: 1px solid $lightColor;
      padding: 10px;
    }

    .item-title {
      overflow: hidden;
      height: 40px;

      h4 {
        margin: 0;
        line-height: 20px;
        font-weight: 700;

        a {
          color: $baseColor;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }

    .item-info {
      padding: 10px 0 0;

      p {
        margin: 0;
        font-size: 12px;
        color: $grayColor;
        display: flex;
        align-items: center;

        span {
          display: block;
          flex: 1;
          padding-right: 10px;
        }

        strong {
          font-weight: 400;
          flex: none;
          overflow: hidden;
          text-overflow: ellipsis;
        }


      }
    }

    .item-footer {
      padding: 5px 10px;
      display: flex;
      align-items: center;
    }

    .item-price {
      flex: 1;
      padding-right: 10px;
      line-height: 1.2;
      user-select: none;

      .current {
        font-size: 18px;
        font-weight: 700;
        color: $baseColor;
      }

      .old {
        font-size: 12px;
        text-decoration: line-through;
        color: $grayColor;
      }
    }


  }

}

.catalog-categories {
  .row {
    justify-content: center;
  }

  .category-link {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 4px white;
    background-color: $primaryColor;
    color: white;
    border-radius: 3px;
    border: 1px solid $primaryColor;
    margin: 0 0 20px;
    padding: 10px;

    .item-icon {
      display: block;
      width: 60px;
      height: 60px;
      flex: none;
    }

    .item-name {
      display: block;
      padding: 0 10px;
      flex: 1;
      font-size: 16px;
      text-transform: uppercase;

      .item-title,
      .item-action {
        display: block;
        line-height: 1.2;
      }

      .item-action {
        font-size: 10px;
      }
    }

    .item-counts {
      display: block;
      text-align: center;
      flex: none;
      font-size: 16px;
      width: 60px;

      .counter,
      .counter-type {
        display: block;
      }

      .counter-type {
        text-transform: uppercase;
        font-size: 10px;
      }
    }

    &:hover {
      background-color: $baseColor;
      border: 1px solid $baseColor;
    }

    &.current {
      background-color: $accentColor;
      border: 1px solid $accentColor;
    }
  }

  @include mobile {
    .category-link {
      margin-bottom: 5px;

      .item-icon {
        width: 40px;
        height: 40px;
      }
    }

    padding-bottom: 15px;
  }
}

.catalog-filters {
  background-color: $lightColor;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;

  &__views {
    flex: 1;

    ul {
      display: flex;
      align-items: center;
      padding: 5px 10px;

      li {
        display: block;
        margin-right: 10px;
        user-select: none;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .views {
      &__title {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: $grayColor;
      }

      &__item {
        cursor: pointer;

        span {
          display: block;
          padding: 0 5px;
          border-radius: 3px;
          transition: .15s ease-in-out;
          background-color: rgba(white, .75);
        }

        &:hover span {
          background-color: #fff;
        }

        &.active span {
          background-color: $primaryColor;
          color: white;
        }
      }
    }
  }

  &__sort {
    flex: none;

    ul {
      display: flex;
      align-items: center;
      padding: 5px 10px;

      li {
        display: block;
        margin-left: 10px;
        user-select: none;
      }
    }

    .sort {
      &__title {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: $grayColor;
        margin-left: 0;
      }

      &__item {
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
          display: block;
          padding: 0 5px;
          border-radius: 3px;
          transition: .15s ease-in-out;
          margin-right: 3px;
          background-color: rgba(white, .75);
        }

        .fa {
          color: $grayColor;
        }

        &:hover span {
          background-color: #fff;
        }

        &.active span {
          background-color: $accentColor;
          color: white;
        }
      }
    }
  }

  @include mobile {
    display: block;

    &__views {
      border-bottom: 1px solid rgba($grayColor, .15);
    }

    &__sort .sort__title,
    &__views .views__title {
      flex: 1;
    }
  }
}

.catalog-item {

  &__image {
    position: relative;
    border: 1px solid $lightColor;
    padding: 4px;
    user-select: none;

    img {
      display: block;
      width: 100%;
    }

    .item-stats {
      position: absolute;
      top: 4px;
      right: 4px;
      display: flex;

      svg {
        display: block;
        width: 15px;
        height: 40px;
        margin-left: 1px;
      }
    }
  }

  &__card {
    .item-header {
      border-bottom: 1px solid $lightColor;
      padding-bottom: 10px;

      .item-title {
        margin: 0 0 5px;
        line-height: 1;
        font-weight: 700;
      }

      .item-identy {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;


        li {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
          padding-right: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
          border-right: 1px solid $lightColor;

          small,
          strong {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            color: $baseColor;
          }

          small {
            margin-right: 0.5em;
            opacity: 0.5;
            user-select: none;
          }

          &.availability {
            margin: 0 0 10px;
            padding: 0;
            border: 0;
            user-select: none;

            span {
              display: block;
              padding: 0 5px;
              font-size: 10px;
              line-height: 20px;
              text-transform: uppercase;
              color: white;
              min-width: 120px;
              text-align: center;

              &.plenty {
                background-color: $successColor;
              }

              &.stocks {
                background-color: $warningColor;
              }

              &.not-available {
                background-color: $grayColor;
              }
            }
          }
        }
      }
    }

    .item-storage {
      padding: 10px;
      border-bottom: 1px solid $lightColor;

      .form__checkbox {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .item-actions {
      padding: 20px 0;
      border-bottom: 1px solid $lightColor;

      .row {
        align-items: center;

        .col {
          display: flex;
          align-items: center;

          &:last-child {
            justify-content: flex-end;
          }
        }
      }

      .item-seal {
        display: block;
        text-align: center;
        white-space: nowrap;
        user-select: none;
        padding: 0 10px;

        .icon {
          width: 32px;
          height: 32px;
          display: block;
          margin: 0 auto 5px;
        }

        small {
          font-size: 10px;
          line-height: 1;
          text-transform: uppercase;
          display: block;
          color: $grayColor;
          text-transform: uppercase;
          font-weight: 700;
        }

        .value {
          display: block;
        }


      }

      .item-price {
        padding: 0 20px;
        user-select: none;

        &__label {
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          text-transform: uppercase;
        }

        &__new {
          font-size: 24px;
          line-height: 1;
          font-weight: 700;
          text-transform: uppercase;
          white-space: nowrap;

          span {
            color: $accentColor;
            margin-right: 0.25em;
          }

          small {
            font-size: 20px;
          }
        }

        &__old {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          text-transform: uppercase;
          white-space: nowrap;
          color: $grayColor;
          text-decoration: line-through;

          span {
            margin-right: 0.25em;
          }

          small {
            font-size: 14px;
          }
        }
      }

      .item-add {
        padding-left: 20px;
      }
    }

  }

  &__details {
    padding: 20px 0;

    .no-details {
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      margin: 0;
      padding: 20px 0;
      color: rgba($baseColor, .25);
      user-select: none;
    }
  }

  @include mobile {
    &__image {
      margin-bottom: 20px;
    }

    &__card {
      text-align: center;

      .item-header .item-identy li {
        border: 0;
      }

      .item-storage .form__row {
        display: inline-block;
      }

      .item-actions {
        .row .col {
          margin-bottom: 20px;


        }

        .mob-flex {
          flex: 1;
        }

        .item-quantity {
          text-align: left;
          padding-right: 20px;

          .form__input.input__number {
            display: inline-block;
          }
        }

        .item-price,
        .item-add {
          margin: 0;
          padding: 0;
          white-space: nowrap;
          width: 160px;
        }
      }
    }
  }
}
