.form {
  &__input {
    margin-bottom: 10px;

    input,
    textarea {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 45px;
      border: 1px solid $lightColor;
      border-radius: 3px;
      color: $baseColor;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      text-align: left;
      outline: none;
      padding: 5px 10px;
      transition: 0.15s ease-in-out;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::-webkit-input-placeholder {
        transition: 0.15s ease-in-out;
      }

      &::-moz-placeholder {
        transition: 0.15s ease-in-out;
      }

      &:-ms-input-placeholder {
        transition: 0.15s ease-in-out;
      }

      &:-moz-placeholder {
        transition: 0.15s ease-in-out;
      }

      &:focus {
        border-color: $grayColor;

        &::-webkit-input-placeholder {
          color: white;
        }

        &::-moz-placeholder {
          color: white;
        }

        &:-ms-input-placeholder {
          color: white;
        }

        &:-moz-placeholder {
          color: white;
        }
      }

      &[disabled] {
        background-color: $lightColor;
        border-color: $lightColor;
        color: $grayColor;
        user-select: none;
      }
    }

    &.error input,
    &.error textarea {
      color: $accentColor;
      border-color: $accentColor;

      &::-webkit-input-placeholder {
        color: $accentColor;
      }

      &::-moz-placeholder {
        color: $accentColor;
      }

      &:-ms-input-placeholder {
        color: $accentColor;
      }

      &:-moz-placeholder {
        color: $accentColor;
      }

      &:focus {
        color: $baseColor;
        border-color: $grayColor;
      }
    }

    textarea {
      resize: none;
      height: 100px;
      padding: 10px;
    }

    &.input__number {
      position: relative;
      padding-right: 20px;
      margin: 0;

      input {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        width: 100px;
        position: relative;
        z-index: 0;
      }

      .input-plus,
      .input-minus {
        position: absolute;
        right: 0;
        z-index: 1;
        top: 50%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        user-select: none;
        font-size: 18px;
        line-height: 1;
        background-color: transparent;

        .fa {
          display: block;
        }
      }

      .input-plus {
        top: 2px;
        color: $successColor;

        &:hover {
          color: $baseColor;
        }
      }

      .input-minus {
        bottom: 2px;
        color: $accentColor;

        &:hover {
          color: $baseColor;
        }
      }
    }

    .selectric-wrapper {
      position: relative;
      cursor: pointer;
      width: 100%;
    }

    .selectric {
      border: 1px solid $lightColor;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      transition: 0.15s ease-in-out;
      box-sizing: border-box;
    }

    .selectric .label {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 12px 24px 11px 10px;
      font-size: 14px;
      line-height: 20px;
      color: $baseColor;
      user-select: none;
      box-sizing: border-box;
    }

    .selectric .fa {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -6px;
      font-size: 12px;
      transition: 0.25s ease-in-out;
    }

    .selectric-open .fa {
      transform: rotate(180deg);
    }

    .selectric-focus .selectric {
      border-color: $grayColor;
    }

    .selectric-open {
      z-index: 9999;
    }

    .selectric-open .selectric {
      border-color: $grayColor;
    }

    .selectric-open .selectric-items {
      display: block;
    }

    .selectric-disabled {
      filter: alpha(opacity=50);
      opacity: 0.5;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .selectric-hide-select {
      position: relative;
      overflow: hidden;
      width: 0;
      height: 0;
    }

    .selectric-hide-select select {
      position: absolute;
      left: -100%;
    }

    .selectric-hide-select.selectric-is-native {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    .selectric-hide-select.selectric-is-native select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }

    .selectric-input {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      overflow: hidden !important;
      clip: rect(0, 0, 0, 0) !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 1px !important;
      height: 1px !important;
      outline: none !important;
      border: none !important;
      *font: 0/0 a !important;
      background: none !important;
    }

    .selectric-temp-show {
      position: absolute !important;
      visibility: hidden !important;
      display: block !important;
    }

    /* Items box */
    .selectric-items {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      z-index: -1;
      box-shadow: 0 3px 7px rgba($baseColor, 0.15);
    }

    .selectric-items .selectric-scroll {
      height: 100%;
      overflow: auto;
    }

    .selectric-above .selectric-items {
      top: auto;
      bottom: 100%;
    }

    .selectric-items ul,
    .selectric-items li {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      min-height: 20px;
    }

    .selectric-items li {
      display: block;
      padding: 5px 10px;
      cursor: pointer;
      color: $baseColor;
      border-bottom: 1px solid $lightColor;

      &:first-child {
        display: none;
      }
    }

    .selectric-items li.selected,
    .selectric-items li.highlighted {
      background: $baseColor;
      color: white;
    }

    .selectric-items li:hover {
      background: $lightColor;
      color: $baseColor;
    }

    .selectric-items .disabled {
      filter: alpha(opacity=50);
      opacity: 0.5;
      cursor: default !important;
      background: none !important;
      color: #666 !important;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .selectric-items .selectric-group .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background: none;
      color: #444;
    }

    .selectric-items .selectric-group.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    .selectric-items .selectric-group li {
      padding-left: 25px;
    }
  }

  &__checkbox {
    text-align: left;
    margin: 10px 0;
    user-select: none;

    input {
      display: none;

      & + label {
        display: inline-flex;
        align-items: center;
        text-align: left;
        cursor: pointer;

        .icon {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 24px;
          height: 24px;
          border-radius: 3px;
          color: $successColor;
          border: 1px solid $lightColor;
          box-sizing: border-box;
          transition: 0.15s ease-in-out;
          flex: none;

          .fa {
            display: block;
            font-size: 16px;
            transition: 0.15s ease-in-out;
            transform: scale(0);
          }
        }

        .text {
          display: block;
          padding-left: 10px;

          .counts {
            display: block;
            color: $primaryColor;
          }
        }

        &:hover .icon {
          border-color: $grayColor;
          color: $grayColor;
        }
      }

      &:checked + label {
        .icon {
          border-color: $successColor;

          .fa {
            transform: scale(1);
          }
        }
      }

      &:disabled + label {
        cursor: default;

        .icon {
          color: $lightColor;
          border: 1px solid $lightColor;
        }

        .text {
          color: $grayColor;

          .counts {
            color: $grayColor;
          }
        }
      }
    }

    &.filial {
      input {
        & + label {
          border: 1px solid $lightColor;
          border-radius: 3px;
          padding: 10px 20px;
          margin-bottom: 10px;
          transition: 0.25s ease-in-out;
          display: flex;

          .icon {
            background-color: white;
          }

          .text {
            padding-left: 20px;
          }
        }

        &:checked + label {
          border-color: $successColor;
          background-color: rgba($lightColor, 0.25);
        }
      }

      .filial__title {
        font-size: 16px;
        min-height: 1px;
      }

      .filial__address {
        opacity: 0.5;
        font-size: 12px;
        line-height: 1.2;

        span {
          display: block;
        }
      }
    }
  }

  &__control {
    padding: 10px 0 20px;
    display: flex;
    align-items: center;

    &--separator {
      flex: 1;
    }
  }

  &__links {
    font-size: 0;

    ul > li {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      vertical-align: middle;
      font-weight: 700;

      &:after {
        content: "";
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        height: 15px;
        width: 1px;
        background-color: $grayColor;
        margin: 0 10px;
      }

      &:last-child:after {
        display: none;
      }

      > a {
        color: $primaryColor;
        text-decoration: none;

        &:hover {
          color: $accentColor;
        }
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    padding: 10px 0;
  }

  &__section {
    padding: 20px 0 10px;

    h3 {
      border-bottom: 1px solid $lightColor;
      margin: 0 0 20px;
      padding-bottom: 5px;
      text-transform: uppercase;
      color: $primaryColor;
    }

    .form__row {
      margin: 0;
      padding: 0;

      .form__checkbox {
        padding-right: 40px;
      }
    }
  }

  .inputbox {
    position: relative;
    margin-bottom: 15px;

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .inputfile + label {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      overflow: hidden;
    }

    .inputfile + label .icon {
      width: 1em;
      height: 1em;
    }

    .inputfile + label {
      color: $darkColor;
    }

    .inputfile + label {
      border: 1px solid $lightColor;
      background-color: white;
      padding: 0;
    }

    .inputfile:focus + label,
    .inputfile.has-focus + label,
    .inputfile + label:hover {
      border-color: $darkColor;
    }

    small {
      display: block;
      font-size: 10px;
      font-weight: 500;
      line-height: 15px;
      color: $darkColor;
      padding-top: 5px;
    }

    .inputfile + label span {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      flex: 1;
      min-width: 0;
      text-align: left;
      padding: 6px 15px;
      line-height: 20px;
      min-height: 32px;
      box-sizing: border-box;
    }

    .inputfile + label strong {
      display: block;
      flex: none;
      white-space: nowrap;
      background-color: $primaryColor;
      border: 1px solid currentColor;
      color: white;
      transition: 0.15s ease;
      padding: 6px 15px;
      line-height: 20px;
      font-weight: 500;
      box-sizing: border-box;

      .icon {
        margin-right: 0.5em;
      }
    }

    .inputfile:focus + label strong,
    .inputfile.has-focus + label strong,
    .inputfile + label:hover strong {
      background-color: $primaryColor;
    }

    @include mobile {
      .inputfile + label {
        display: block;

        span,
        strong {
          display: block;
          text-align: center;
        }
      }
    }
  }

  &__rate {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 10px;
    .label {
      flex: 1;
    }
    .rtg {
      flex: none;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: 0 -12px 0 0;
      position: relative;
      padding-left: 30px;

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        transform: scale(0);
        opacity: 0;

        &:checked ~ label {
          color: goldenrod;
        }

        + label {
          display: block;
          margin-right: 12px;
          cursor: pointer;
          color: #edf0f7;
          font-size: 24px;
          line-height: 1;
          transition: 0.15s linear;

          &:hover ~ label {
            color: goldenrod;
          }

          &:hover {
            color: goldenrod;
          }
        }
      }
    }
  }

  &__file {
    position: relative;
    margin-bottom: 10px;

    input {
      display: block;
      position: absolute;
      top: -10px;
      left: -10px;
      width: 0;
      height: 0;
      opacity: 0;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      right: 2px;
      top: 2px;
      z-index: 2;
      border-radius: 3px;
      background-color: $primaryColor;
      color: white;
      width: 41px;
      height: 41px;
      font-size: 20px;
      line-height: 1;
      cursor: pointer;

      &:hover {
        background-color: darken($primaryColor, 10%);
      }
    }

    span {
      display: block;
      position: relative;
      width: 100%;
      height: 45px;
      line-height: 24px;
      font-size: 14px;
      padding: 10px;
      color: rgba($baseColor, 0.5);
      border: 1px solid $lightColor;
      border-radius: 3px;
      user-select: none;

      &.active {
        color: $baseColor;
        border-color: $grayColor;
      }
    }
  }
}

.auth-form {
  text-align: center;
  padding: 20px 100px;

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    color: $primaryColor;
    margin-bottom: 20px;
  }

  &__footer {
    border-top: 1px solid $lightColor;
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.2;

    p {
      margin: 0;
    }
  }

  .form__row .form__checkbox {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &.thanks {
    .auth-form__title {
      color: $baseColor;
      margin: 0 0 10px;
    }

    .thanks__icon {
      color: $successColor;
      border: 4px solid currentColor;
      width: 100px;
      height: 100px;
      margin: 0 auto 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 64px;
      line-height: 1;

      .fa {
        display: block;
        margin-left: 8px;
      }
    }
  }

  @include medium-down {
    padding: 40px;
  }

  @include tablet-down {
    padding: 40px 150px;
  }

  @include mobile {
    padding: 20px 0;
  }
}

.search-form {
  display: flex;
  margin: 0 -10px;

  .col {
    flex: none;

    &.flex {
      flex: 1;
    }
  }

  .btn {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 13px 10px 12px;

    .fa {
      margin-right: 5px;
      font-size: 14px;
    }
  }

  @include mobile {
    flex-wrap: wrap;

    .btn {
      display: block;
      width: 100%;
    }

    .col,
    .col.flex {
      flex: none;
      width: 100%;
    }
  }
}

.service-feedback {
  padding-top: 20px;
  margin-bottom: 20px;

  .feedback {
    background-color: $primaryColor;
    position: relative;
    padding: 0 20px 10px;

    &__icon {
      position: absolute;
      top: -30px;
      right: 20px;
      display: block;
      width: 60px;
      height: 60px;
    }

    &__header {
      margin: 0;
      padding: 10px 80px 10px 0;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
    }

    .form__control {
      justify-content: flex-end;
    }
  }

  @include mobile {
    padding-top: 0;

    .feedback {
      &__icon {
        display: none;
      }

      &__header {
        padding: 20px 20px 10px;
        text-align: center;
      }

      .form__control {
        justify-content: space-around;
      }
    }
  }
}

.profile--form,
.address--form,
.security--form {
  .form__action {
    text-align: right;
    padding-top: 0;
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
