.page-footer__wraper: .container: .row
  .col.md-3.sm-6
    nav.nav: ul
      li.title Информация
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") О компании
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Магазин запчастей
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Поставщикам
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Розничным клиентам
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Контакты
  .col.md-3.sm-6
    nav.nav: ul
      li.title Услуги
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Каталог запчастей
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Каталог автошин 
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Каталог аккумуляторов
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Ремонт и эвакуация автотранспорта
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Грузоперевозки и экспедиция
  .col.md-3.sm-6
    nav.nav: ul
      li.title Покупателю
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Акции
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Личный кабинет
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Гарантия и возврат 
      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="") Доставка и оплата

      li
        i.fa.fa-caret-right(aria-hidden="true")
        a(href="#review" data-show="modal") Oставить отзыв
  .col.md-3.sm-6
    nav.contacts: ul
      li.title КОНТАКТЫ
      li
        i.fa.fa-map-marker(aria-hidden="true")
        span MD-2037, mun.Chișinău,<br>str.Uzinelor, 171-A
      li
        i.fa.fa-phone(aria-hidden="true")
        a(href="tel:+37360097755") +373 60 097 755
      li
        i.fa.fa-print(aria-hidden="true")
        a(href="tel:+37322428749") +373 22 42 87 49
      li
        i.fa.fa-envelope(aria-hidden="true")
        a(href="mailto:transager@company.md") transager@company.md
      li.social
        a(href="http://facebook.com", target="_blank", rel="noopener noreferrer"): i.fa.fa-facebook-square(aria-hidden="true")
        a(href="http://linkedin.com", target="_blank", rel="noopener noreferrer"): i.fa.fa-linkedin-square(aria-hidden="true")
        a(href="http://twitter.com", target="_blank", rel="noopener noreferrer"): i.fa.fa-twitter-square(aria-hidden="true")
