.catalog-list__item
  .item-stats
    svg: use(xlink:href="#new-item")
    svg: use(xlink:href="#hot-item")
    svg: use(xlink:href="#sale-item")
  .item-image
    a(href="").item-image__link: img(src="img/th_no-image.png", alt="")
    .item-count.plenty В наличии больше 6
  .item-body
    .item-title: h4: a(href="") Фартук бампера правый Actros Euro 5
    .item-info
      p 
        span OEM:
        strong 9438850025
      p
        span ID:
        strong 18100382
  .item-footer
    .item-price
      .current <span>5160.00</span> <small>MDL</small>
      .old <span>6160.00</span> MDL
    .item-action: button.btn.add-to-basket
      i.fa.fa-shopping-cart(aria-hidden="true")
      span в корзину
.catalog-list__item
  .item-stats
    //svg: use(xlink:href="#new-item")
    //svg: use(xlink:href="#hot-item")
    //svg: use(xlink:href="#sale-item")
  .item-image
    a(href="").item-image__link: img(src="img/th_shop-item_2.png", alt="")
    .item-count.stocks В наличии меньше 4
  .item-body
    .item-title: h4: a(href="") Фартук бампера правый Actros Euro 5
    .item-info
      p 
        span OEM:
        strong 9438850025
      p
        span ID:
        strong 18100382
  .item-footer
    .item-price
      .current <span>5160.00</span> <small>MDL</small>
      .old <span>6160.00</span> MDL
    .item-action: button.btn.add-to-basket
      i.fa.fa-shopping-cart(aria-hidden="true")
      span в корзину
.catalog-list__item
  .item-stats
    //svg: use(xlink:href="#new-item")
    svg: use(xlink:href="#hot-item")
    //svg: use(xlink:href="#sale-item")
  .item-image
    a(href="").item-image__link: img(src="img/th_shop-item_1.png", alt="")
    .item-count.not-available Нет в наличии
  .item-body
    .item-title: h4: a(href="") Фартук бампера правый Actros Euro 5
    .item-info
      p 
        span OEM:
        strong 9438850025
      p
        span ID:
        strong 18100382
  .item-footer
    .item-price
      .current <span>5160.00</span> <small>MDL</small>
      .old <span>6160.00</span> MDL
    .item-action: button.btn.add-to-basket.disabled
      i.fa.fa-shopping-cart(aria-hidden="true")
      span в корзину
.catalog-list__item
  .item-stats
    svg: use(xlink:href="#new-item")
    //svg: use(xlink:href="#hot-item")
    //svg: use(xlink:href="#sale-item")
  .item-image
    a(href="").item-image__link: img(src="img/th_no-image.png", alt="")
    .item-count.plenty В наличии больше 6
  .item-body
    .item-title: h4: a(href="") Фартук бампера правый Actros Euro 5
    .item-info
      p 
        span OEM:
        strong 9438850025
      p
        span ID:
        strong 18100382
  .item-footer
    .item-price
      .current <span>5160.00</span> <small>MDL</small>
      .old <span>6160.00</span> MDL
    .item-action: button.btn.add-to-basket
      i.fa.fa-shopping-cart(aria-hidden="true")
      span в корзину
.catalog-list__item
  .item-stats
    //svg: use(xlink:href="#new-item")
    svg: use(xlink:href="#hot-item")
    //svg: use(xlink:href="#sale-item")
  .item-image
    a(href="").item-image__link: img(src="img/th_shop-item_2.png", alt="")
    .item-count.stocks В наличии меньше 4
  .item-body
    .item-title: h4: a(href="") Фартук бампера правый Actros Euro 5
    .item-info
      p 
        span OEM:
        strong 9438850025
      p
        span ID:
        strong 18100382
  .item-footer
    .item-price
      .current <span>5160.00</span> <small>MDL</small>
      .old <span>6160.00</span> MDL
    .item-action: button.btn.add-to-basket
      i.fa.fa-shopping-cart(aria-hidden="true")
      span в корзину
.catalog-list__item
  .item-stats
    //svg: use(xlink:href="#new-item")
    svg: use(xlink:href="#hot-item")
    //svg: use(xlink:href="#sale-item")
  .item-image
    a(href="").item-image__link: img(src="img/th_shop-item_1.png", alt="")
    .item-count.not-available Нет в наличии
  .item-body
    .item-title: h4: a(href="") Фартук бампера правый Actros Euro 5
    .item-info
      p 
        span OEM:
        strong 9438850025
      p
        span ID:
        strong 18100382
  .item-footer
    .item-price
      .current <span>5160.00</span> <small>MDL</small>
      .old <span>6160.00</span> MDL
    .item-action: button.btn.add-to-basket.disabled
      i.fa.fa-shopping-cart(aria-hidden="true")
      span в корзину
