nav(aria-label='Page navigation')
  ul.pagination
    li: a.page-link.first(href=''): i.fa.fa-angle-double-left(aria-hidden='true')
    li: a.page-link.prev(href=''): i.fa.fa-angle-left(aria-hidden='true')
    li: a.page-link.active(href='') 1496
    li: a.page-link(href='') 1497
    li: a.page-link(href='') 1498
    li: a.page-link(href='') 1499
    li: a.page-link(href='') 1500
    li: a.page-link.next.disabled(href=''): i.fa.fa-angle-right(aria-hidden='true')
    li: a.page-link.last.disabled(href=''): i.fa.fa-angle-double-right(aria-hidden='true')
