extends layouts/inside.pug
block variables
  - pageTitle = 'Личный кабинет'
block headerContent
  .container: .row
    .col.lg-8.lg-off-2.md-10.md-off-1: include ./includes/searchform.pug
block content
  .container
    nav(aria-label='breadcrumb').content__breadcrumbs
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') Главная
        li.breadcrumb-item.active(aria-current='page') Личный кабинет
    h1.page__title.cabinet-header Личный кабинет
    nav.page-nav: ul.tab-menu
      li: a(href="cabinet-profile.html").current Профиль
      li: a(href="cabinet-history.html") История заказов
  section.cabinet--profile: .container
    .row
      .col.md-9: .profile--form
        .form__section
          h3 Тип профиля
          .form__row
            .form__checkbox
              input(type="radio", name="accountType", checked="", value="0")#account-single
              label(for="account-single" data-target="#single")
                span.icon: i.fa.fa-check(aria-hidden="true")
                span.text Физическое лицо
            .form__checkbox
              input(type="radio", name="accountType", value="1")#account-company
              label(for="account-company" data-target="#company")
                span.icon: i.fa.fa-check(aria-hidden="true")
                span.text Юридическое лицо
        .tab-content
          .tab-pane.active.fade.in(role="tabpanel")#single: form.form
            .form__section
              h3 Персональные Данные
              .row
                .col.md-4: .form__input: input(type="text", name="singleFirstName", placeholder="Имя", required)
                .col.md-4: .form__input: input(type="text", name="singleLastName", placeholder="Фамилия", required)
                .col.md-4: .form__input: input(type="text", name="singlePhone", placeholder="Телефон", required)
                .col.md-4: .form__input: input(type="email", name="singleEmail", value="dziuba88@gmail.com", disabled)
                .col.md-8: .form__input: input(type="tel", name="singleFiscal", placeholder="Фискальный код", required)
            .form__action: button.btn.sm.primary сохранить
          .tab-pane.fade(role="tabpanel")#company: form.form
            .form__section
              h3 Контактное лицо
              .row
                .col.md-4: .form__input: input(type="text", name="companyFirstName", placeholder="Имя", required)
                .col.md-4: .form__input: input(type="text", name="companyLastName", placeholder="Фамилия", required)
                .col.md-4: .form__input: input(type="text", name="companyPosition", placeholder="Должность", required)
                .col.md-4: .form__input: input(type="email", name="companyEmail", value="dziuba88@gmail.com", disabled)
                .col.md-4: .form__input: input(type="text", name="companyPhone", placeholder="Телефон", required)
            .form__section
              h3 Реквизиты компании
              .row
                .col.md-12: .form__input: input(type="text", name="companyName", placeholder="Юридическое название предприятия", required)
                .col.md-12: .form__input: input(type="text", name="companyAddress", placeholder="Юридический адрес", required)
                .col.md-4: .form__input: input(type="tel", name="companyFiscal", placeholder="Фискальный код", required)
                .col.md-4.sm-6: .form__input: input(type="tel", name="companyTVA", placeholder="Код плательщика НДС", required)
                .col.md-4.sm-6: .form__checkbox
                  input(type="checkbox", name="hasTVA", value="true", checked)#hastva
                  label(for="hastva" data-enable="tva")
                    span.icon: i.fa.fa-check(aria-hidden="true")
                    span.text плательщик НДС
                .col.md-4: .form__input: input(type="text", name="companyBankID", placeholder="Код Банка", required)
                .col.md-8: .form__input: input(type="text", name="companyIBAN", placeholder="Расчетный счет", required)
            .form__action: button.btn.sm.primary сохранить
        form.form.address--form
          .form__section
            h3 Адрес доставки
            .row
              .col.md-4: .form__input: input(type="text", name="addressCountry", value="Молдова", disabled)
              .col.md-4: .form__input: input(type="text", name="addressRegion", placeholder="Регион / Область", required)
              .col.md-4: .form__input: input(type="text", name="addressCity", placeholder="Город", required)
              .col.md-12: .form__input: input(type="text", name="addressCity", placeholder="Улица, дом, кв./оф.", required)
          .form__action: button.btn.sm.primary сохранить
      .col.md-3.sm-6
        form.form.security--form
          .form__section
            h3 Безопасность
            .form__input: input(type="password", name="oldPass", placeholder="Старый пароль", required)
            .form__input: input(type="password", name="newPass", placeholder="Новый пароль", required)
            .form__input: input(type="password", name="confirm", placeholder="Повторить пароль", required)
          .form__action: button.btn.sm.accent сохранить
  section.cabinet--bottom: .container
    .row: .col.lg-6.lg-off-3.md-8.md-off-2.sm-10.sm-off-1
      a(href="").service-add.repair
        img(src="img/repair_add_img.png", alt="").service-add__img
        span.service-add__text
          span Ремонт и эвакуация транспорта
          strong +373 79 408 806


