extends layouts/default.pug
block variables
  - pageTitle = 'Главная страница'
block headerContent
  section.header-intro: .container 
    .jumbotron
      h1.jumbotron__title Trans Ager
      p.jumbotron__subtitle ваш надёжный партнёр в дальней дороге!
    .row
      .col.lg-8.lg-off-2.md-10.md-off-1: include ./includes/searchform.pug
  section.header-services: .container 
    .row.services-title: .col.lg-6.md-8.sm10
      h2 ЧТО МЫ ПРЕДЛАГАЕМ?
      p Мы предлагаем услуги, качество и эффективность которых нам удалось доказать на протяжении многолетней деятельности
    .row.services-list
      .col.md-3.sm-6: a(href="").services-list__item
        img(src="img/th_service_1.png", alt="")
        .caption: span Грузоперевозки и экспедиция
      .col.md-3.sm-6: a(href="").services-list__item
        img(src="img/th_service_2.png", alt="")
        .caption: span Магазин автозапчастей
      .col.md-3.sm-6: a(href="").services-list__item
        img(src="img/th_service_3.png", alt="")
        .caption: span Ремонт и обслуживание
      .col.md-3.sm-6: a(href="").services-list__item
        img(src="img/th_service_4.png", alt="")
        .caption: span Буксировка грузовых авто
block content
  section.anounses-list: .container
    h2.section__title: span Новое в каталоге
    .owl-carousel: include ./includes/items_carousel.pug
    .anounses-list__footer
      p У нас можете найти более 7000 наименований запчастей
      p: a(href="").btn.primary перейти в каталог
  section.adds-list: .container: .row
    .col.md-6
      a(href="").service-add.trucks
        img(src="img/trucks_add_img.png", alt="").service-add__img
        span.service-add__text
          span Продажа подержанных
          strong грузовиков и полуприцепов
    .col.md-6
      a(href="").service-add.tuning
        span.service-add__text
          span профессиональный 
          strong чип-тюнинг в Молдове
  section.company-about: .container
    .row: .col.md-8.md-off-4.lg-6.lg-off-6
      h2 НАША КОМПАНИЯ
      p Основанная 25 лет назад, «Trans Ager» является первопроходцем на местном рынке транспортных услуг, став первой компанией, специализирующейся на международных грузовых перевозках, с момента обретения Республикой Молдова независимости.
      p В 2005 году, после приобретения автотранспортной базы площадью 3,5 га, компания «Trans Ager» ООО начала практиковать новые виды деятельности: оптовую торговлю запасными частями и принадлежностями для автомобилей – посредством открытия в Кишинёве одного магазина, а позже еще 3-х по всей стране, а также техническое обслуживание и ремонт автотранспортных средств.
      p: a(href="").btn.white узнать больше
  section.company-whyus: .container
    h2.section__title: span ПОЧЕМУ МЫ?
    .section__subheader: .row: .col.lg-8.lg-off-2.md-10.md-off-1
      p Благодаря стремлению к постоянному развитию, компания «Trans Ager» стала неоспоримым лидером на молдавском рынке, предлагающим самый полный спектр услуг для клиентов, которые ищут надёжного партнера в дальней дороге.
      h5 Основные конкурентные преимущества нашей компании: 
    .row
      .col.md-3.sm-6: .why-us__item
        svg: use(xlink:href="#whyus_1")
        h4 Конкурентные цены!
        p Разные категории цен, от разных производителей!
      .col.md-3.sm-6: .why-us__item
        svg: use(xlink:href="#whyus_2")
        h4 Система скидок!
        p Для физических и юридических лиц!
      .col.md-3.sm-6: .why-us__item
        svg: use(xlink:href="#whyus_3")
        h4 Гарантия качества!
        p Гарантия на товар от 3-х месяцев до года!
      .col.md-3.sm-6: .why-us__item
        svg: use(xlink:href="#whyus_4")
        h4 Бесплатная доставка!
        p По Кишиневу при заказе свыше 500 лей!
  section.anounses-list: .container
    h2.section__title: span популярные товары
    .owl-carousel: include ./includes/items_carousel.pug
    .anounses-list__footer
      p Trans Ager - это сеть магазинов в Республике Молдова
      p: a(href="").btn.primary перейти в каталог
  #vacancies.modal.mfp-hide
    .modal__header Posturi vacante
    .modal__body
      .vacancies__positions: #positions.panel-group(role='tablist' aria-multiselectable='true')
        .panel
          .panel__heading(role='tab')
            a(data-toggle='collapse' data-parent='#positions' href='#positionID-1' aria-expanded='true')
              span Бухгалтер
              i.fa.fa-angle-right
          #positionID-1.collapse.fade.in(role='tabpanel'): .position
            .position__left
              .position__params: ul
                li Город: <strong>Кишинев</strong>
                li Образование: <strong>Высшее</strong>
                li Опыт работы: <strong>От 2-х до 5-и лет</strong>
                li Зарплата: <strong>По договорённости</strong>
                li График работы: <strong>Полный рабочий день</strong>
              .position__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .position__right
              .position__hr
                .position__hr__title Свяжитесь с менеджером<br>или отправте SV на указанный е-Mail
                .position__hr__contacts: ul
                  li
                    span Телефон:
                    a(href="tel:+37369000000") +373 69 000 000
                  li
                    span Контактное лицо:
                    strong Имя Фамилия
                  li
                    span E-mail:
                    a(href="mailto:hr@transager.md") hr@transager.md
        .panel
          .panel__heading(role='tab')
            a.collapsed(data-toggle='collapse' data-parent='#positions' href='#positionID-2' aria-expanded='false')
              span водитель
              i.fa.fa-angle-right
          #positionID-2.collapse.fade(role='tabpanel'): .position
            .position__left
              .position__params: ul
                li Город: <strong>Кишинев</strong>
                li Образование: <strong>Высшее</strong>
                li Опыт работы: <strong>От 2-х до 5-и лет</strong>
                li Зарплата: <strong>По договорённости</strong>
                li График работы: <strong>Полный рабочий день</strong>
              .position__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .position__right
              .position__hr
                .position__hr__title Свяжитесь с менеджером<br>или отправте SV на указанный е-Mail
                .position__hr__contacts: ul
                  li
                    span Телефон:
                    a(href="tel:+37369000000") +373 69 000 000
                  li
                    span Контактное лицо:
                    strong Имя Фамилия
                  li
                    span E-mail:
                    a(href="mailto:hr@transager.md") hr@transager.md
        .panel
          .panel__heading(role='tab')
            a.collapsed(data-toggle='collapse' data-parent='#positions' href='#positionID-3' aria-expanded='false')
              span менеджер по продажам
              i.fa.fa-angle-right
          #positionID-3.collapse.fade(role='tabpanel'): .position
            .position__left
              .position__params: ul
                li Город: <strong>Кишинев</strong>
                li Образование: <strong>Высшее</strong>
                li Опыт работы: <strong>От 2-х до 5-и лет</strong>
                li Зарплата: <strong>По договорённости</strong>
                li График работы: <strong>Полный рабочий день</strong>
              .position__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .position__right
              .position__hr
                .position__hr__title Свяжитесь с менеджером<br>или отправте SV на указанный е-Mail
                .position__hr__contacts: ul
                  li
                    span Телефон:
                    a(href="tel:+37369000000") +373 69 000 000
                  li
                    span Контактное лицо:
                    strong Имя Фамилия
                  li
                    span E-mail:
                    a(href="mailto:hr@transager.md") hr@transager.md
        .panel
          .panel__heading(role='tab')
            a.collapsed(data-toggle='collapse' data-parent='#positions' href='#positionID-4' aria-expanded='false')
              span монтажник
              i.fa.fa-angle-right
          #positionID-4.collapse.fade(role='tabpanel'): .position
            .position__left
              .position__params: ul
                li Город: <strong>Кишинев</strong>
                li Образование: <strong>Высшее</strong>
                li Опыт работы: <strong>От 2-х до 5-и лет</strong>
                li Зарплата: <strong>По договорённости</strong>
                li График работы: <strong>Полный рабочий день</strong>
              .position__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .position__right
              .position__hr
                .position__hr__title Свяжитесь с менеджером<br>или отправте SV на указанный е-Mail
                .position__hr__contacts: ul
                  li
                    span Телефон:
                    a(href="tel:+37369000000") +373 69 000 000
                  li
                    span Контактное лицо:
                    strong Имя Фамилия
                  li
                    span E-mail:
                    a(href="mailto:hr@transager.md") hr@transager.md
    .modal__footer
      a.btn.accent(href="vacancies.html") toate Posturi vacante
