extends layouts/inside.pug
block variables
  - pageTitle = 'Ремонт и эвакуация транспорта'
block headerContent
  .container: .row
    .col.lg-8.lg-off-2.md-10.md-off-1: include ./includes/searchform.pug
block content
  .container
    nav(aria-label='breadcrumb').content__breadcrumbs
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') Главная
        li.breadcrumb-item.active(aria-current='page') Ремонт и эвакуация транспорта
    h1.page__title Ремонт и эвакуация транспорта
  section.service-page__description: .container: .row
    .col.md-7
      .intro-subtitle
        h2 РЕМОНТ И ОБСЛУЖИВАНИЕ АВТОПАРКА
        p 26 ремонтных залов и 50 автомехаников
      .intro-text
        h3 твой автопарк в надёжных руках!
        p Компания «Trans Ager» располагает наибольшим количеством ремонтных залов в стране, что позволяет одновременно оказывать техническую помощь 26 грузовым авто. Команда из 50 автомехаников предлагает клиентам уникальную комбинацию услуг, направленных на обеспечение оптимального функционирования транспортного средства, прицепа и шин – в рамках одного осмотра.
      .service-page__contacts
        h4 Позвоните сейчас
        .actions <a href="tel:+37379400416">+373 79 400 416</a> или <a href="tel:+37322475379">+373 22 47 53 79</a>
        p сотрудиники нашего автосервиса ответят на ваши вопросы
    .col.md-5
      .slider-module.owl-carousel
        -for(i=1;i<=8;i++)
          img(src="img/slides_repair/"+i+".png", alt="")
  section.service-page__directions: .container
    .row: .col.lg-8.lg-off-2.md-10.md-off-1
      h3 Виды ремонтных работ грузовых транспортных средств
      p Сервис «Trans Ager» предоставляет услуги по техническому обслуживанию, техническому осмотру и ВСЕ виды ремонтных работ ВСЕХ типов грузовых транспортных средств:
    .directions-list: .row
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_1")
        h5 шиномонтаж
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_2")
        h5 Подвеска и направление
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_3")
        h5 ремонт двигателей
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_4")
        h5 Покраска
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_5")
        h5 Рихтовка кузова
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_6")
        h5 Электрика и электроника
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_7")
        h5 Сварочные работы
      .col.md-3.sm-6: .direction-item
        .icon: svg: use(xlink:href="#repair_8")
        h5 Ремонт холодильных агрегатов
    .row: .col.lg-8.lg-off-2.md-10.md-off-1
      p С нами срок службы вашего грузового автомобиля будет максимальным. Сосредоточьтесь на бизнесе, а мы обеспечим вам уверенность в хорошо выполненной работе!
  section.service-page__description: .container: .row
    .col.md-5
      .slider-module.owl-carousel
        -for(i=1;i<=7;i++)
          img(src="img/slides_evacuation/"+i+".png", alt="")
    .col.md-7
      .intro-text.more-info
        h2 БУКСИРОВКА ГРУЗОВЫХ АВТО в МОЛДОВе и  ЗА РУБЕЖОМ
        p Дорожно-транспортные происшествия – весьма неприятный опыт, особенно когда они случаются за пределами страны. В любой точке Молдовы и не только вы можете рассчитывать на услугу буксировки грузовых авто в режиме 24/7.
        p При необходимости мы можем предоставить грузовой авто с водителем на замену, осуществить перегрузку груза и т. д.
      .service-page__contacts
        h4 Позвоните сейчас
        .actions: a(href="tel:+37379408806") +373 79 408 806
        p закажите доставку аварийного транспортного средства
  section.service-feedback
    .container: include ./includes/feedbackform.pug
