extends layouts/inside.pug
block variables
  - pageTitle = 'Ремонт и эвакуация транспорта'
block headerContent
  .container: .row
    .col.lg-8.lg-off-2.md-10.md-off-1: include ./includes/searchform.pug
block content
  .container
    nav(aria-label='breadcrumb').content__breadcrumbs
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') Главная
        li.breadcrumb-item.active(aria-current='page') международные перевозки и экспедиция
    h1.page__title международные перевозки и экспедиция
  section.service-page__description: .container: .row
    .col.md-7
      .intro-text.more-info
        p: strong «Trans Ager» – надёжный партнёр, предлагающий клиентам разнообразный автопарк, а также полный комплекс логистических решений для осуществления грузовых перевозок.
        p <strong>Наши направления:</strong> Республика Молдова, Европа, СНГ, Турция
        p Спустя четверть века деятельности на международном рынке грузовых перевозок, мы знаем карту мира, как свои пять пальцев. Мы гарантируем профессионализм и оперативность, самых опытных водителей, оптимизацию маршрутов и идеальное соотношение между «надёжной» и «быстрой» доставкой грузов.
        p Все рейсы компании «Trans Ager» тщательно отслеживаются нашими диспетчерами, а это значит, что ваш товар доставят в пункт назначения в установленные сроки и в условиях максимальной безопасности.
    .col.md-5
      .slider-module.owl-carousel
        -for(i=1;i<=3;i++)
          img(src="img/slides_cargo/"+i+".png", alt="")
  section.service-page__directions: .container
    .row: .col.lg-8.lg-off-2.md-10.md-off-1
      h3 Транспортные услуги, которые мы предоставляем
      p Перевозка негабаритных грузов, Перевозки «от двери до двери», Перевозка спецтехники
    .cargo-list: .row
      .col.md-3.sm-6: .cargo-item
        img(src="img/serv_cargo_1.png", alt="")
        h5 Перевозка комплектных грузов
        p Оптимальное решение для компаний, перевозящих большие объемы грузов. Груз, по объему занимающий все транспортное средство, принадлежит одному клиенту и разгружается непосредственно на складе получателя, что сокращает сроки доставки.
      .col.md-3.sm-6: .cargo-item
        img(src="img/serv_cargo_2.png", alt="")
        h5 Перевозка сборных грузов
        p Услуга предназначена для клиентов, которым необходима транспортировка небольших партий товаров или грузов малого объема. Сборный груз объединяет в себе несколько видов товара от разных отправителей, что позволяет заказчикам значительно сэкономить на доставке.
      .col.md-3.sm-6: .cargo-item
        img(src="img/serv_cargo_3.png", alt="")
        h5 Перевозка термолабильных грузов
        p Услуга предназначена для товаров, требующих соблюдения температурного режима в течении всего пути: скоропортящиеся продукты питания, цветы, лекарства. Наши грузовые автомобили позволяют поддерживать определенную температуру в пределах от -20°С до + 25°С.
      .col.md-3.sm-6: .cargo-item
        img(src="img/serv_cargo_4.png", alt="")
        h5 Перевозка текстильной продукции
        p Перевозка осуществляется в грузовиках, оснащенных штангами для размещения одежды на вешалках, что позволяет избежать нежелательных складок и гарантирует сохранность изделий. Благодаря правильным условиям транспортировки товар прибывает в магазины в надлежащем виде.
    .row: .col.lg-8.lg-off-2.md-10.md-off-1: .contacts
      h4 Позвоните сейчас
      .actions: a(href="tel:+37322474282") +373 22 474 282
      p наши сотрудиники ответят на ваши вопросы
  section.service-page__description: .container: .row
    .col.md-5: img(src="img/expedition.png", alt="").description__image
    .col.md-7
      .intro-text.more-info
        h2 Услуги транспортной логистики
        p А там, куда не доезжают грузовики «Trans Ager», ситуацию берут под свой контроль менеджеры по перевозкам нашей компании. Выполнить требования клиента в кратчайшие сроки – наш приоритет, вот почему, в дополнение к нашему собственному автопарку, мы предлагаем услуги наших субподрядчиков, соответствующие стандартам качества, установленным нашей компанией.
        p Мы гарантируем, что итоговые затраты будут приемлемыми для всех сторон, вовлеченных в процесс перевозки грузов.
        p: strong Услуги транспортной логистики, которые мы предоставляем:
        ul
          li <strong>хранение</strong> (мы располагаем двумя собственными складами в Турции и   одним – в Германии)
          li <strong>дистрибуция</strong>
          li <strong>страхование</strong> грузов и <strong>CMR</strong> страхование
          li <strong>консультация</strong> относительно таможенных формальностей
  section.service-feedback
    .container: include ./includes/feedbackform.pug
