<!DOCTYPE html>
block variables
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title TransAger | #{pageTitle}
    link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=cyrillic-ext,latin-ext")
    link(rel="stylesheet", href="css/style.css")
  body.page
    // START HEADER
    header.page-header.inside
      include ../includes/topbar.pug
      include ../includes/navbar.pug
      block headerContent
    // END HEADER
    // START MAIN CONTENT
    main.page-content
      block content
    // END MAIN CONTENT
    // START FOOTER
    footer.page-footer
      include ../includes/brands.pug
      include ../includes/footer_links.pug
      include ../includes/copyrights.pug
    // END FOOTER
    // SCRIPTS
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLa52E3EJeehDidU_gDBx4B4NMzh01hiY")
    script(src="js/scripts.js")
    script(src="js/app.js")
